{
    "presets": [
    [ "env", { "loose": true } ],
    "stage-1",
    "react"
  ],
    "plugins": [ "transform-object-rest-spread",
      "transform-react-constant-elements",
      [ "transform-class-properties", { "spec": true } ],
      [ "transform-es2015-classes", {
            "loose": true
      } ] ]
}
